TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
SUPABASE_URL=https://YOUR_URL
SUPABASE_KEY=your_service_role_key
TABLE_NAME=clients
TARGET_GYM_ID=id_of_your_gym
ADMIN_CHAT_IDS=123456789, 123456789 #через запятую для нескольких админов
